.about {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #7393a7, #728b9d, #718293, #6f7b89, #6c737e);
}
.about-header {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right top, #e8ecf1d2, #cbd5dfd3, #aebeccd3, #91a8bad7, #7393a7d2), url('http://localhost:3000/uploads/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 90%);
}
.about-body {
    font-family: 'Germania One', cursive;
    font-size: 1.5rem;
    padding-right: .5rem;
    padding-left: .5rem;
}